<div class="container">
    <div class="logo">
        <img src="../../../assets/logos/Weatherman.png" height="200" width="200" alt="brand logo">
    </div>

    <div class="instructions">
        <h2>Please insert latitude and longitude or choose a destination from a map to request forecast data!</h2>
        <h3>If you have saved weather data, only then you can request it!</h3>
    </div>

    <div class="weatherform">
        <form [formGroup]="weatherForm" (ngSubmit)="onFormSubmit()">
                <div class="input-labels">
                    <label>Latitude</label>
                    <label>Longitude</label>
                </div>
                <div class="inputs">
                    <input name="latitude" required formControlName="latitude" style="float:left">
                    <input name="longitude" required formControlName="longitude" style="float:right">
                </div>
                <div class="days">
                    <label>Days</label>
                    <select required="true" name="days" id="days" formControlName="days">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    
                </div>
                <div class="submit">
                    <button class="button" type="submit">Request data</button>
                </div>
        </form>
        <div class="vl"></div>
        <form [formGroup]="currWeatherForm" (ngSubmit)="onCurrWeatherFormSubmit()">
           
            <label for="country">Country</label>
            <input name="country" required formControlName="country">
            <label for="date">Date</label>
            <label for="dateFormation">(yyyy-mm-dd)</label>
            <input name="date" required formControlName="date">
        

            <button class="button" type="submit">Get saved forecast</button>
        </form>
    </div>

    <div class="map">
        <app-map (coordinates)="setCoordinates($event)"></app-map>
    </div>

    <div *ngIf="this.weatherDataList.date.length || this.savedForecast.id != 0" class="colors">
        <span class="accuweather">AccuWeather</span>
        <div class="openweather">OpenWeather</div>
        <div class="weatherapi">WeatherApi</div>
    </div>

    <div *ngIf="this.savedForecast.id == 0" class="location">
        <h1>{{this.weatherDataList.country}}, {{this.weatherDataList.region}}</h1>
    </div>

    <table *ngIf="this.weatherDataList.date.length && this.savedForecast.id == 0" class="table-container">
        <thead>
            <tr>
                <th>
                    <h1>Date</h1>
                </th>
                <th>
                    <h1>Temperature</h1>
                </th>
                <th>
                    <h1>Precipitation probability</h1>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let weather of htmlWeather; let i = index">
            <tr>
                <th rowspan="3">{{weather.date}}</th>
                <td>{{weather.accuTemp}} °C</td>
                <td>{{weather.accuPrec}}%</td>
            </tr>
            <tr>
                <td>{{weather.openWthTemp}} °C</td>
                <td>{{weather.openWthPrec}}%</td>
            </tr>
            <tr>
                <td>{{weather.wthApiTemp}} °C</td>
                <td>{{weather.wthApiPrec}}%</td>
            </tr>
        </tbody>
    </table>

    <button #weatherTable *ngIf="htmlWeather.length && this.savedForecast.id == 0" class="button" (click)="saveCurrentWeatherData()">Save weather data</button>

    <table *ngIf="this.savedForecast.id != 0" class="table-container">
        <thead>
            <tr>
                <th>
                    <h1>Date</h1>
                </th>
                <th>
                    <h1>Temperature</h1>
                </th>
                <th>
                    <h1>Precipitation probability</h1>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="3">{{savedForecast.date}}</th>
                <td>{{savedForecast.accuTemp}} °C</td>
                <td>{{savedForecast.accuPrec}}%</td>
            </tr>
            <tr>
                <td>{{savedForecast.openWthTemp}} °C</td>
                <td>{{savedForecast.openWthPrec}}%</td>
            </tr>
            <tr>
                <td>{{savedForecast.wthApiTemp}} °C</td>
                <td>{{savedForecast.wthApiPrec}}%</td>
            </tr>
            <tr>
                <th>Current</th>
                <td>{{currWeather.temperature}} °C</td>
                <td>{{currWeather.precipitation}}%</td>
            </tr>
        </tbody>
    </table>

    <div #savedData *ngIf="this.savedForecast.id != 0"></div>

</div>
